.flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.flex,
.flex-inline {
  text-align: left;

  &.flex-dir-row {
    flex-direction: row;
  }

  &.flex-dir-row-reverse {
    flex-direction: row-reverse;
  }

  &.flex-dir-column {
    flex-direction: column;
  }

  &.flex-dir-column-reverse {
    flex-direction: column-reverse;
  }

  &.flex-nowrap {
    flex-wrap: nowrap;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  &.flex-justify-start {
    justify-content: flex-start;
  }

  &.flex-justify-end {
    justify-content: flex-end;
  }

  &.flex-justify-center {
    justify-content: center;
  }

  &.flex-justify-between {
    justify-content: space-between;
    align-items: center;
  }

  &.flex-justify-around {
    justify-content: space-around;
  }

  &.flex-align-start {
    align-items: flex-start;
  }

  &.flex-align-end {
    align-items: flex-end;
  }

  &.flex-align-center {
    align-items: center;
  }

  &.flex-align-stretch {
    align-items: stretch;
  }

  &.flex-align-baseline {
    align-items: baseline;
  }
}