/*
 * 主样式文件
 * 导入所有样式文件
 */

// 导入变量
@import './variables.scss';

// 导入重置样式
@import './reset.scss';

// 导入通用样式
@import './common.scss';

@import "sidebar";

@import "transition";

@import "element-ui";

@import "mixin";

// 在这里可以导入其他样式文件
